.main {

}

html.sr .load-hidden {
    visibility: hidden;
}

.cart {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    /*grid-template-rows: repeat(auto-fit, 300px);*/
    min-height: calc(100dvh - 100px);
    max-height: calc(100dvh - 100px);
    position: relative;
    top: 50px;
    font-family: var(--font-family-primary);
    overflow: overlay;

    /*border: solid 1px var(--background-color-secondary);*/
    /*border-radius: .5rem;*/
    /*background-color: var(--background-color-optional);*/
    margin: 0 1rem 0 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main > img {
    height: 100%;
    width: 100%;

    object-fit: scale-down;
    position: absolute;
    z-index: -1;
}

.cart .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px var(--background-color-secondary);
    border-radius: .5rem;
    background-color: var(--background-color-primary);
    margin: .5rem;
    justify-content: center;
    align-items: center;
    height: 315px;
    padding: .5rem;
    width: 265px;
}

.cart .item img {
    object-fit: scale-down;
    width: 175px;
    height: 175px;
    margin: .5rem 0 .5rem 0;
}

.cart .item .count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart .item button {
    border: solid 1px var(--background-color-secondary);
    border-radius: 1rem;
    background-color: var(--background-color-optional);
    cursor: pointer;
    margin: .5rem;
    width: 75%;
    padding: .25rem;
}

.cart .item .count button {
    width: 30px;
    color: var(--link-color);
}

.cart .item button:hover {
    background-color: var(--background-color-primary);
}

.procced {
    width: 100%;
    position: absolute;
    height: 50px;
    bottom: 0;
    display: grid;
    align-content: center;
    justify-items: center;
}

.procced button {
    border: solid 1px var(--background-color-secondary);
    border-radius: 1rem;
    background-color: var(--background-color-primary);
    cursor: pointer;
    width: 200px;
    margin: 1rem;
    padding: .25rem;
    font-family: var(--font-family-primary);
    color: var(--link-color);
}

.procced button:hover {
    background-color: var(--background-color-primary);
    color: var(--background-color-secondary);
}

.price {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.price div {
    margin: 0 .5rem 0 .5rem;
    height: 25px;
    /*width: 75px;*/
}

.oldPrice {
    text-decoration: line-through;
    color: rgba(255, 0, 0, 75%);
}

.oldPrice sup {
    display: inline-block;
    vertical-align: top;
    line-height: .5;
    width: 35px;
    margin-right: -35px;
}

@media screen and (max-width: 775px) {
    .cart {
        top: 25px;
        min-height: calc(100dvh - 75px);
        max-height: calc(100dvh - 75px);
    }
}
