.main > img {
    height: 100%;
    width: 100%;

    object-fit: scale-down;
    position: absolute;
    z-index: -1;
}

body {
    overflow: hidden;
}

.mySwiper > * {
    top: 50px;
    font-family: var(--font-family-primary);
}

.swiper-slide {
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swiper-slide .product {
    height: 100%;
}

/*.swiper-slide .product {*/
/*    display: grid;*/
/*    background-color: var(--background-color-secondary);*/
/*    justify-items: center;*/
/*    align-content: center;*/
/*}*/

.swiper-slide img {
    display: block;
    width: 100%;
    height: 75%;
    object-fit: scale-down;
}

.product button {
    cursor: pointer;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--background-color-secondary);
    padding: .5rem;
    background-color: var(--background-color-primary);
    font-family: var(--font-family-primary);
    color: var(--link-color);
}

.product button:hover {
    background-color: var(--background-color-primary);
    color: var(--background-color-secondary);
}

.product .price {
    height: 42px;
}

.oldPrice {
    text-decoration: line-through;
    color: rgba(255, 0, 0, 75%);
}

.oldPrice sup {
    display: inline-block;
    vertical-align: top;
    line-height: .5;
    width: 35px;
    margin-right: -35px;
}
