.main > img {
    height: 100%;
    width: 100%;

    object-fit: scale-down;
    position: absolute;
    z-index: -1;
}

.saleList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    /* grid-template-rows: repeat(auto-fit, 300px); */
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    position: relative;
    top: 50px;
    font-family: var(--font-family-primary);
    overflow: overlay;
    /* border: solid 1px var(--background-color-secondary); */
    /* border-radius: .5rem; */
    /* background-color: var(--background-color-optional); */
    margin: 0 1rem 0 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

