<header class="header" id="header">
    <nav class="container">
        <ul>
            <li>
                <a href="/store/">
                    Timeless Wardrobe
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/store/new/">
                    New collection
                </a>
            </li>
            <li>
                <a href="/store/sales/">
                    Sales
                </a>
            </li>
            <li>
                <a href="/store/season/">
                    Season
                </a>
            </li>
            <li>
                <a href="/store/cart/">
                    Cart
                </a>
            </li>
        </ul>
        <ul>
            <li>
                {% if user.is_authenticated %}
                    <a href="/store/sign-out/">
                        {{user.username}} <i class="ri-logout-box-r-line"></i>
                    </a>
                {% else %}
                    <a href="/store/sign-in/">
                        <i class="ri-login-box-line"></i> Sign In
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>