<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Timeless Wardrobe website">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'store2/assets/img/3d-shop-and-store-icon-illustration-png.webp' %}" type="image/x-icon">

        <!--=============== REMIXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'store2/assets/css/store.css' %}">
        <link rel="stylesheet" href="{% static 'store2/assets/css/cart.css' %}">
        <link rel="stylesheet" href="{% static 'store2/assets/css/checkout.css' %}">

        <title>Timeless Wardrobe</title>
    </head>
    <body>
        {% csrf_token %}
        <!--==================== HEADER ====================-->
        {% include 'store2/header.html' %}
        <!--==================== MAIN ====================-->
        <main class="main" hx-target=".main" hx-select=".main > *" hx-swap="innerHTML">
            <img class="load-hidden" src="{% static 'store2/assets/img/ai-generated-copper-metallic-explosion-on-a-transparent-background-png.webp' %}" alt="" loading="lazy">
            {% if cartItems %}
                <div class="cart load-hidden">
                    {% for cartItem in cartItems %}
                        <div class="item">
                            {{ cartItem.product.title }}
                            <img src="/media/{{cartItem.product.photo}}" alt="" loading="lazy">
                            {% if cartItem.product.salePercent %}
                                <div class="price">
                                    <div class="newPrice">
                                        ${{cartItem.product.price|salePrice:cartItem.product.salePercent|multiply:cartItem.quantity|floatformat}}
                                    </div>
                                    <div class="oldPrice">
                                        ${{cartItem.product.price|multiply:cartItem.quantity|floatformat}}
                                        <sup class="percent">-{{cartItem.product.salePercent}}%</sup>
                                    </div>
                                </div>
                            {% else %}
                                ${{cartItem.product.price|multiply:cartItem.quantity|floatformat}}
                            {% endif %}
                            <div class="count">
                                <button class="decrease-button" hx-get="" hx-trigger="changed" productId="{{cartItem.product.id}}">-</button>
                                    {{cartItem.quantity}}
                                <button class="increase-button" hx-get="" hx-trigger="changed" productId="{{cartItem.product.id}}">+</button>
                            </div>
                            <button class="remove-button" hx-get="" hx-trigger="changed" productId="{{cartItem.product.id}}">Remove</button>
                        </div>
                    {% endfor %}
                </div>

                <div class="procced load-hidden">
                    <button id="procced">Checkout ${{total|floatformat}}</button>
                </div>

                <div class="checkout">
                    <form id="payment-form">
                        Total: ${{total|floatformat}}
                        <br><br>
                        <input type="text" id="email" placeholder="Enter email address"/>
                        <div id="payment-element">
                            <!--Stripe.js injects the Payment Element-->
                        </div>
                        <button class="payment-button" id="submit" type="submit" disabled>
                            <div class="spinner hidden" id="spinner"></div>
                            <span id="button-text">Pay now</span>
                        </button>
                        <div id="payment-message" class="hidden"></div>
                    </form>
                </div>
            {% else %}
                <div class="cart">
                    Your cart is empty
                </div>
            {% endif %}
        </main>

        <!--==================== FOOTER ====================-->
        {% include 'store2/footer.html' %}

        <a href="" class="menu" id="show-menu">
            <i class="ri-menu-5-line"></i>
        </a>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-circle-line"></i>
        </a>

        <!--=============== SCRIPTS ===============-->
        <!-- Add 'async' or 'defer' attributes to control script execution -->
        <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
        <script src="https://kit.fontawesome.com/95c0aa19f9.js" crossorigin="anonymous" defer></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://unpkg.com/htmx.org@2.0.2" defer></script>

        <!-- Combine and minify your custom scripts -->
        <script src="{% static 'store2/assets/js/store.js' %}" defer></script>
        <script src="{% static 'store2/assets/js/cart.js' %}" defer></script>
    </body>
</html>