<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Timeless Wardrobe website">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'store2/assets/img/3d-shop-and-store-icon-illustration-png.webp' %}" type="image/x-icon">

        <!--=============== REMIXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

        <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'store2/assets/css/store.css' %}">
        <link rel="stylesheet" href="{% static 'store2/assets/css/catalog.css' %}">

        <title>Timeless Wardrobe</title>
    </head>
    <body>
        {% csrf_token %}
        <!--==================== HEADER ====================-->
        {% include 'store2/header.html' %}
        <!--==================== MAIN ====================-->
        <main class="main load-hidden">
            <img src="{% static 'store2/assets/img/explosion-fire-ai-generated-png.webp' %}" alt="" loading="lazy">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for product in products %}
                        <div class="swiper-slide" data-swiper-autoplay="3000">
                            <div class="product">
                                <div class="price">
                                    {% if product.salePercent %}
                                        <div class="newPrice">
                                            ${{product.price|salePrice:product.salePercent|floatformat}}
                                        </div>
                                        <div class="oldPrice">
                                            ${{product.price|floatformat}}
                                            <sup class="percent">-{{product.salePercent}}%</sup>
                                        </div>
                                    {% else %}
                                        ${{product.price|floatformat}}
                                    {% endif %}
                                </div>
                                <img src="/media/{{product.photo}}" alt="Banner photo" loading="lazy">
                                <button productId="{{product.id}}">Add to cart</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
<!--                <div class="swiper-button-next"></div>-->
<!--                <div class="swiper-button-prev"></div>-->
<!--                <div class="swiper-pagination"></div>-->
<!--                <div class="autoplay-progress">-->
<!--                    <svg viewBox="0 0 48 48">-->
<!--                        <circle cx="24" cy="24" r="20"></circle>-->
<!--                    </svg>-->
<!--                    <span></span>-->
<!--                </div>-->
            </div>
        </main>

        <!--==================== FOOTER ====================-->
        {% include 'store2/footer.html' %}

        <a href="" class="menu" id="show-menu">
            <i class="ri-menu-5-line"></i>
        </a>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-circle-line"></i>
        </a>

        <!--=============== SCRIPTS ===============-->
        <!-- Add 'async' or 'defer' attributes to control script execution -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
        <script src="https://kit.fontawesome.com/95c0aa19f9.js" crossorigin="anonymous" defer></script>
        <script src="https://js.stripe.com/v3/"></script>

        <!-- Combine and minify your custom scripts -->
        <script src="{% static 'store2/assets/js/catalog.js' %}" defer></script>
    </body>
</html>